{% extends 'index.html' %}
{% block title %} View Customer Detail {% endblock %}
{% block body %}

  <nav class="navbar navbar-light my-5" style="background-color: #e3f2fd;">
    <center>
    <form class="form-inline" style="margin-left: 400px;" action="/detailsupdate/" method="POST">{% csrf_token %}
        <b>Enter Location</b>
          <input class="form-control mx-sm-2" type="search" name="loc" value="{{order}}" maxlength="10" aria-label="Search">
          <button class="btn btn-primary mb-2 my-sm-0" id="divpr" type="submit">Go</button>
        </form>
      </center>
  </nav>
  <center>  
  <h2>{{msg}}</h2>
</center>

{% endblock %}
