{% include 'search.html' %}

{% block body %}

<table class="table table-bordered table-light mt-4">
    <thead>
      <tr>
        <th scope="col" class="table-dark">Location</th>
        <th scope="col" class="table-dark">First Name</th>
        <th scope="col" class="table-dark">Last Name</th>
        <th scope="col" class="table-dark">Product</th>
        <th scope="col" class="table-dark">Address</th>
        <th scope="col" class="table-dark">City</th>
        <th scope="col" class="table-dark">Mobile No.</th>
        <th scope="col" class="table-dark">PIN</th>
      </tr>
    </thead>

    <tbody>
        <tr>
            {% for e in alldata %}      
          <th scope="row" bgcolor="skyblue"><a href='/order/{{e.Location}}'>{{e.Location}}</a></th>
          <td bgcolor="skyblue">{{e.First_Name}}</td>
          <td bgcolor="skyblue">{{e.Last_Name}}</td>
          <td bgcolor="skyblue">{{e.Product}}</td>
          <td bgcolor="skyblue">{{e.Address}}</td>
          <td bgcolor="skyblue">{{e.City}}</td>
          <td bgcolor="skyblue">{{e.Mobile_No}}</td>
          <td bgcolor="skyblue">{{e.Pin_Code}}</td>
        </tr>
        
      </tbody>
      {%endfor %}
  </table>

{% endblock %}