{% include 'callupdate.html' %}

    <table class="table-bordered table-active table-striped table-sm mt-5" style="margin-left: 500px;">
            <tbody>
                <tr>
                    <th scope="row" class="bg-primary">Service Order</th>
                    <td><input type="text" class="form-control col-md-12" style="background-color: white;" name="" value="{{detail}}" readonly></td>
                </tr>
                <tr>
                    <th scope="row" class="bg-primary">Location</th>
                    <td><input type="text" class="form-control col-md-12"style="background-color: white;" name="" value="{{detail}}" readonly></td>
                </tr>
                <tr>
                    <th scope="row" class="bg-primary">Longitude</th>
                    <td><input type="text" class="form-control col-md-12"style="background-color: white;" name="" value="{{detail}}" readonly></td>
                </tr>
                <tr>
                    <th scope="row" class="bg-primary">Country</th>
                    <td><input type="text" class="form-control col-md-12"style="background-color: white;" name="" value="{{detail}}" readonly></td>
                </tr>
            </tbody>
        </table>